/*ETIQUETAS*/

body {
    display: grid;
    grid-template-areas: 
        "zonaa zonaa" 
        "zonab zonac" 
        "zonaz zonaz";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
}

form {
    padding: 10% 20%;
}

button {
    padding: 2% 10%;
    margin: 14px 30%;
    background: #633409;
    box-shadow: 0px 0px 3px 2px rgba(80, 43, 3, 0.68);
    color: white;
    font-family: "Bahnschrift";
    font-size: 2.5vw;
    border: none;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    box-shadow: inset 0px 0px 9px 5px rgba(38, 20, 0, 0.89);
}

label {
    font-family: "Bahnschrift semibold";
    font-size: 3.2vw;
    color: rgb(84, 27, 33);
    margin: 15px;
}

/*ID'S*/

#form-name,
#form-email,
#form-mesage {
    width: 100%;
    height: 4vw;
    font-size: 2.5vw;
    font-family: "Bahnschrift light";
    background: #70330A;
    border: none;
    border-radius: 100px;
    margin: 5% 0px;
    box-shadow: inset 0px 0px 9px 5px rgba(38, 20, 0, 0.41);
}

#form-mesage {
    height: 12.5vw;
    border-radius: 10px;
}

/*CLASES*/

.contenido {
    display: grid;
    grid-template: 100% / 50% 50%;
}

.redes{
    max-width: 40%;
    width: auto;
    height: auto;
}

.redes-grupo {
    margin: 20% 0%;
    padding: 10px 20%;
    color: rgb(84, 27, 33);
    font-family: "Bahnschrift light";
    font-size: 2.8vw;
    text-align: center;
}

.zona-a {
    grid-area: zonaa;
    background: #F8CBAD;
}

.zona-b {
    grid-area: zonab;
    background: #F4B184;
}

.zona-c {
    grid-area: zonac;
    background: #F2A16A;
}

.zona-z {
    grid-area: zonaz;
    background: #95440D
}

/*MEDIOS*/

@media only screen and (orientation: portrait)    {
    
    body {
        background: #52260b;
        grid-template-areas: 
            "zonaa" 
            "zonab"
            "zonac"
            "zonaz";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }
    
    label {
        font-size: 4.5vw;
    }
    
    #form-name,
    #form-email,
    #form-mesage {
        height: 5vw;
    }
    
    #form-mesage {
        height: 15vw;
    }
    
    .redes-grupo {
        font-size: 3vw;
        margin: 10% 0%;
    }
    
    
}