/*ETIQUETAS*/

h1 {
    font-family: "Bahnschrift SemiBold" !important;
    background-image: url(../recourses/backgrounds/fondo-axial.jpg) !important;
    background-size: 100% !important;
    background-position: 0px 320px !important;
    background-position: center !important;
    background-size: cover !important;
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
    font-size: 8vw !important;
    color: #FFE285 !important;
    margin: 3% 2% !important; 
    padding: 1% 2% !important;
}