h1 {
    font-family: "Aisha Script";
    background-image: url(../recourses/backgrounds/fondo-axial.jpg);
    background-size: 100%;
    background-position: 0px 320px;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 10px rgba(53, 28, 5, 0.70) solid;
    margin: 20px 0px 0px 0px;
    font-size: 4rem;
    color: rgb(245, 207, 43);
    font-weight: 100;
    margin: 30px 0px 0px 0px;
}