body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    background: black;
}

img {
    width: 100%;

}

h1, 
p {
    position: absolute;
    text-align: center;
    width: 100%;
}

h1 {
    color: #b3932e;
    margin: 1% 0px;
    font-size: 7vw;
    font-family: "Bahnschrift Semibold";
}

p {
    color: #FFE285;
    margin: 8% 0px;
    font-family: "Bahnschrift";
    font-size:2.5vw;
}