@font-face {
    font-family: "Aisha Script";
    src: url(../recourses/fonts/aisha-script.regular.ttf)
}

@font-face {
    font-family: "Yesteryear";
    src: url(../recourses/fonts/yesteryear.regular.ttf)
}

@font-face {
    font-family: "Gott";
    src: url(../recourses/fonts/TTWPGOTT.ttf)
}