/*ETIQUETAS*/

header { 
    background: #C8800A;
    width: 100%;
    height: auto;	
    position: relative;
    box-shadow: 0px 5px 4px 7px rgba(140, 121, 105, 0.58);
}

body {
    overflow-x: hidden;
    width: 100%;
}

footer {
    padding: 10px;
    text-align: center;
    color: #D7A9AD;
    font-family: "Bahnschrift";
    font-size: 2vw;
    background-color: #70330A;
    margin: 10px;
    display: block;
}

a {
    
}

/*CLASES*/

.navegation-bar-pestanas {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
}

.navegation-bar-pestanas-inicio,
.navegation-bar-pestanas-portafolio,
.navegation-bar-pestanas-comisiones,
.navegation-bar-pestanas-acercade,
.navegation-bar-pestanas-contacto {
    font-family: "Bahnschrift";
    color: rgb(255, 255, 255);
    font-size: 1vw;
    text-decoration: none;
    margin: 1% 1%;
    text-align: center;
    min-width: 10%;
    position: relative;	
    box-shadow: 0px 0px 3px 2px rgba(80, 43, 3, 0.68);
    background-color: #C55A11;
    padding: 2%;
    transition: background-color 200ms linear 0s;
    transition: box-shadow 200ms linear 0s;
}

.navegation-bar-pestanas-inicio:hover,
.navegation-bar-pestanas-portafolio:hover,
.navegation-bar-pestanas-comisiones:hover,
.navegation-bar-pestanas-acercade:hover,
.navegation-bar-pestanas-contacto:hover {
    transform: scale(1.05);
}

.navegation-bar-pestanas-inicio:active,
.navegation-bar-pestanas-portafolio:active,
.navegation-bar-pestanas-comisiones:active,
.navegation-bar-pestanas-acercade:active,
.navegation-bar-pestanas-contacto:active {
    background-color: #C55A11;	
    box-shadow: inset 0px 0px 9px 5px rgba(38, 20, 0, 0.52);
}

.navegation-bar {
    width: 100%;
    display: grid;
    grid-template: auto / 8% 1fr 10%;
    align-items: center;
}

.navegation-bar-firma {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

.navegation-bar-redes {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
    margin: 10px 0px;
}

.navegation-bar-redes-facebook,
.navegation-bar-redes-gmail {
    max-width: 45%;
    width: auto;
    height: auto;
    display: inline-block;
    box-shadow: 0px 0px 4px 3px #8e4513;
    background-color: #C55A11;
}

.navegation-bar-redes-facebook:hover ,
.navegation-bar-redes-gmail:hover  {
    background-color: #C55A11;	
    box-shadow: inset 0px 0px 9px 5px rgba(38, 20, 0, 0.52);
}

.content {
    height: 100%;
}

