/*ETIQUETAS*/

h1 {
    font-family: "Bahnschrift Semibold";
    font-size: 18vw;
    color: rgb(245, 207, 43);
    margin: 30px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
}

h2 {
    font-family: "Bahnschrift";
    font-size: 3.8vw;
    color: #F1C877;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}

h3 {
    font-family: "Bahnschrift";
    font-size: 4vw;
    margin: 50px 0px 50px 10%;
    color: rgb(84, 27, 33);
}

/*ANIDADOS*/

.datos p {
    width: 90%
}

.datos p span {
    font-style: italic;
    color: black;
}

/*CLASES*/

.kazi-banner {
    text-align: center;
    background-image: url(../recourses/backgrounds/fondo-axial.jpg);
    background-size: 100%;
    background-position: 0px 320px;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    width: auto;
}

.intro {
    display: grid;
    grid-template: 100% / 50% 50%;
    margin: 50px;
    border-color: rgba(53, 28, 5, 0.70);
    border-width: 10px;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}

.eslogan {
    text-align: center;
    font-family: "Bahnschrift Light";
    font-size: 3vw; 
    font-weight: bold;
    font-style: italic;
    color: rgb(84, 27, 33);
    margin: 50px 25px;
}

.presentation {
    text-align: left;
    font-family: "Bahnschrift Light";
    font-size: 2.5vw;
    color: rgb(84, 27, 33);
    margin: 50px 25px;
}


.sabias-que {
    border-color: rgba(53, 28, 5, 0.70);
    border-width: 2.5vw;
}

.datos {
    display: grid;
    grid-template: auto auto / 50% 50%;
    grid-gap: 50px 25px;
    font-size: 2.5vw;
    font-family: "Bahnschrift Light";
    margin: 10px 50px;
    text-align: center;
    color: rgb(84, 27, 33);
    align-items: center;
    justify-content: center;
}

.sabias-imagen {
    max-width: 100%;
    width: 80%;
    height: auto;
    margin: 25px;
    border-color: rgba(53, 28, 5, 0.70);
    border-style: solid;
    border-width: 10px;
}