/*ETIQUETAS*/

body {
    display: grid;
    grid-template-areas: 
        "zonaa zonaa" 
        "zonab zonab" 
        "zonac zonad" 
        "zonaz zonaz";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
}

h1 {
    font-family: "Bahnschrift Semibold";
    font-size: 18vw;
    color: #FFE285;
    margin: 30px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
}

h2 {
    font-family: "Bahnschrift";
    font-size: 3.8vw;
    font-weight: 400;
    color: #FFE285;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}

h3 {
    font-family: "Bahnschrift";
    font-size: 4vw;
    margin: 10% 0px 0px 10%;
    color: rgb(84, 27, 33);
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-start;
    text-align: left;
}

/*ANIDADOS*/

p span {
    font-style: italic;
    color: black;
}

/*CLASES*/

.kazi-banner {
    text-align: center;
    background-image: url(../recourses/backgrounds/fondo-axial.jpg);
    background-size: 100%;
    background-position: 0px 320px;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    width: auto;
}

.intro {
    display: grid;
    grid-template: 100% / 50% 50%;
    margin: 10%;
    border-color: rgba(53, 28, 5, 0.70);
    border-width: 10px;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}

.eslogan {
    text-align: center;
    font-family: "Bahnschrift Light";
    font-size: 3vw; 
    font-weight: bold;
    font-style: italic;
    color: rgb(84, 27, 33);
    margin: 50px 25px;
}

.presentation {
    text-align: left;
    font-family: "Bahnschrift Light";
    font-size: 2.5vw;
    color: rgb(84, 27, 33);
    margin: 50px 25px;
}

.sabias-imagen {
    width: 120%;
    height: 60%;
    background-image: url(../recourses/images/images.jpg); /*exposicion -60*/
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F09252;
    margin: -5.56% 0% 0% -5.5%;
}

.dato-uno {
    margin: 10%;
}

.dato-dos {
    margin: 10%;
}

.dato-tres {
    margin: 10%;
    display: block;
}

.zona-a {
    grid-area: zonaa;
    background: #F8CBAD;    
    padding: 0px 0px 20px 0px;
}

.zona-b {
    grid-area: zonab;
    background: #F4B184;
}

.zona-c {
    grid-area: zonac;
    background: #F2A16A;
    padding: 5%;
    font-family: "Bahnschrift Light";
    font-size: 2.5vw
}

.zona-d {
    grid-area: zonad;
    background: #F09252;
    padding: 5%;
    font-family: "Bahnschrift Light";
    font-size: 2.5vw;
}

.zona-z {
    grid-area: zonaz;
    background: #95440D
}

.puntoa {
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-name: tres-puntos;
    animation-iteration-count: infinite;
}

.puntob {
    animation-duration: 500ms;
    animation-delay: 100ms;
    animation-timing-function: ease-in-out;
    animation-name: tres-puntos;
    animation-iteration-count: infinite;
}

.puntoc {
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-name: tres-puntos;
    animation-iteration-count: infinite;
}

/*FRAMES*/

@keyframes tres-puntos {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

/*MEDIOS*/

@media only screen and (orientation: portrait)    {
    
    body {
    grid-template-areas: 
        "zonaa" 
        "zonab" 
        "zonac"
        "zonad"
        "zonaz";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    overflow-x: hidden;
    width: 100%;
    }

    .sabias-imagen {
    width: 100%;
    height: 200px;
    background-image: url(../recourses/images/images.jpg); /*exposicion -60*/
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F09252;
    margin: 0% 0%;
    }
    
    .dato-uno {
        margin: 5%;
    }

    .dato-dos {
        margin: 5%;
    }

    .dato-tres {
        margin: 10% 5% 5% 5%;
    }
    
    .presentation {
        text-align: center;
    }
}