/*ETIQUETAS*/

body {
    display: grid;
    grid-template-areas: 
        "zonaa zonaa" 
        "zonab zonab" 
        "zonaz zonaz";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-auto-rows: auto;
    margin: 0px;
}

/*ANIDADOS*/

.dibujos img {
    max-width: 97%;
    width: auto;
    height: auto;
}

/*CLASES*/

/*.dibujos {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;  /*EN COMPUTADORA 3 COLUMNAS Y EN CEL 2*//*
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    margin: 10px
}*/

.row {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1%;
    margin: 0% 0% 10% 0%;
    height: 100%;
}

div.row div a img {
    object-fit: cover;
    min-height: 200px;
    height: 300px;
    width: auto;
}


.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 10px;
    height: auto;
    width: auto;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

.zona-a {
    grid-area: zonaa;
    background: #F8CBAD;
}

.zona-b {
    grid-area: zonab;
    background: #F4B184;
}

.zona-z {
    grid-area: zonaz;
    background: #95440D
}